<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= site %></title>
    <meta name="description" content="<%= site %>">
    <link rel="icon" type="image/png" href="/assets/img/logo.png">
    <link rel="favorite icon" type="image/png" href="/assets/img/logo.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    <div class="container d-flex justify-content-center mt-5 pt-2">
        <h1><%= site %> Admin</h1>
    </div>

    <div class="d-flex justify-content-center parent" id="msg" style="display: none !important">
        <div class="content-md">
            <h4 id="msg-title"></h4>
            <hr>
            <h5 id="msg-body"></h5>
            <%_ if (hasScope(user, 'download')) { _%>
            <button id="abort" class="btn btn-danger mt-3" style="display: none !important">Abort Download</button>
            <%_ } _%>
        </div>
    </div>

    <div class="d-flex justify-content-center parent">
        <div class="content-md">
            <h4>Welcome, <%= user %>.</h4>
            <hr>
            <h6>Scopes: <%= scopes.join(", ") %></h6>
            <br />
            <%_ if (token) { _%>
            <h6>API token:</h6>
            <p>Warning: Don't show this API token to anyone! Doing so allows people to run actions as you.</p>
            <button class="btn btn-primary btn-sm" id="token-copy">Click to Copy</button>
            <button class="btn btn-danger btn-sm" id="token">Revoke Token</button>
            <%_ } else { _%>
            <h6>API token: None</h6>
            <button class="btn btn-primary btn-sm" id="token">Generate Token</button>
            <%_ } _%>
            <hr>
            <h6><a href="/admin/changepw">Change Password</a></h6>
            <%_ if (hasScope(user, 'users')) { _%>
            <h6><a href="/admin/adduser">Add New User</a></h6>
            <%_ } _%>
        </div>
    </div>

    <form id="token-form" method="POST" action="/api/token">
    </form>

    <%_ if (hasScope(user, 'links')) { _%>
    <div class="d-flex justify-content-center parent">
        <div class="content-md">
            <h4>URL Shortener</h4>
            <hr>
            <form method="POST" action="/api/shorten">
                <div class="form-group">
                    <div class="input">
                        <label for="shorten-url">URL</label>
                        <input class="form-control" type="url" id="shorten-url" name="url" required>
                    </div>
                    <div class="input">
                        <label for="shorten-id">Short ID [Optional]</label>
                        <input class="form-control" type="text" id="shorten-id" name="id">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Shorten</button>
                </div>
            </form>
        </div>
    </div>
    <%_ } _%>
    <%_ if (hasScope(user, 'pastes')) { _%>
    <div class="d-flex justify-content-center parent">
        <div class="content-lg">
            <h4>Pastebin</h4>
            <hr>
            <form method="POST" action="/api/paste">
                <div class="form-group">
                    <div class="input">
                        <label for="paste-text">Text</label>
                        <textarea name="text" id="paste-text" required></textarea>
                    </div>
                    <div class="input">
                        <label for="paste-type">Type</label>
                        <select id="paste-type" name="type" required>
                            <option value="text/plain">Text / Other</option>
                            <option value="text/html">HTML</option>
                            <option value="text/javascript">JavaScript</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="paste-duration">Expiration</label>
                        <select id="paste-duration" name="duration" required>
                            <option value="never">Never</option>
                            <option value="burn">Burn on Read</option>
                            <option value="600">10 Minutes</option>
                            <option value="3600">1 Hour</option>
                            <option value="86400">1 Day</option>
                            <option value="604800">1 Week</option>
                            <option value="2629744">1 Month</option>
                            <option value="15778463">6 Months</option>
                            <option value="31556926">1 Year</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="paste-title">Title [Optional]</label>
                        <input class="form-control" type="text" id="paste-title" name="title">
                    </div>
                    <div class="input">
                        <label for="paste-id">Short ID [Optional]</label>
                        <input class="form-control" type="text" id="paste-id" name="id">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Paste</button>
                </div>
            </form>
        </div>
    </div>
    <%_ } _%>
    <%_ if (hasScope(user, 'upload')) { _%>
    <div class="d-flex justify-content-center parent">
        <div class="content-md">
            <h4>File Upload</h4>
            <hr>
            <form method="POST" action="/api/upload" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="input">
                        <label for="upload-file">File</label>
                        <input class="form-control-file mt-1 ml-3 mr-3" type="file" id="upload-file" name="file" required>
                    </div>
                    <div class="input">
                        <label for="upload-duration">Expiration</label>
                        <select id="upload-duration" name="duration" required>
                            <option value="never">Never</option>
                            <option value="600">10 Minutes</option>
                            <option value="3600">1 Hour</option>
                            <option value="86400">1 Day</option>
                            <option value="604800">1 Week</option>
                            <option value="2629744">1 Month</option>
                            <option value="15778463">6 Months</option>
                            <option value="31556926">1 Year</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="upload-id">Short ID [Optional]</label>
                        <input class="form-control" type="text" id="upload-id" name="id">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Upload</button>
                </div>
            </form>
        </div>
    </div>
    <%_ } _%>
    <%_ if (hasScope(user, 'download')) { _%>
    <div class="d-flex justify-content-center parent">
        <div class="content-md">
            <h4>Remote File Download</h4>
            <hr>
            <form method="POST" action="/api/download">
                <div class="form-group">
                    <div class="input">
                        <label for="download-url">URL</label>
                        <input class="form-control" type="url" id="download-url" name="url" required>
                    </div>
                    <div class="input">
                        <label for="download-duration">Expiration</label>
                        <select id="download-duration" name="duration" required>
                            <option value="never">Never</option>
                            <option value="600">10 Minutes</option>
                            <option value="3600">1 Hour</option>
                            <option value="86400">1 Day</option>
                            <option value="604800">1 Week</option>
                            <option value="2629744">1 Month</option>
                            <option value="15778463">6 Months</option>
                            <option value="31556926">1 Year</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="upload-id">Short ID [Optional]</label>
                        <input class="form-control" type="text" id="upload-id" name="id">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Download</button>
                </div>
            </form>
        </div>
    </div>
    <%_ } _%>
    <div class="container d-flex justify-content-center mt-5 pt-2 bottom">
        <a href="/admin/db">
            <h5><i class="fas fa-database mr-2"></i>Manage DB</h5>
        </a>
    </div>
    <div class="container d-flex justify-content-center pb-5 bottom">
        <a href="/api/logout">
            <h5><i class="fas fa-arrow-left mr-2"></i>Log Out</h5>
        </a>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $ = document.querySelector.bind(document);
        let params = new URL(location.href).searchParams;
        let ws;
        if(params.get("msg")) {
            $("#msg").style.display = "block";
            $("#msg-title").innerText = params.get("title") || "Message";
            $("#msg-body").innerText = params.get("msg");
        }

        <%_ if (hasScope(user, 'download')) { _%>
        if(params.get("ws")) {
            $("#msg").style.display = "block";
            ws = new WebSocket(location.origin.replace("http:", "ws:").replace("https://", "wss:") + "/ws");
            ws.onopen = () => {
                $("#abort").style.display = "block";
                ws.onmessage = (m) => {
                    let recv = JSON.parse(m.data);
                    if(recv.msg) {
                        $("#msg-body").innerText = recv.msg;
                    }
                    if(recv.title) {
                        $("#msg-title").innerText = recv.title;
                    }
                    if(recv.done) {
                        $("#abort").style.display = "none";
                    }
                };
            };
        }
        $("#abort").addEventListener('click', (e) => {
            ws.send("abort");
        });
        <%_ } _%>

        $("#token").addEventListener('click', (e) => {
            $("#token-form").submit();
        });

        <%_ if(token) { _%>
        $("#token-copy").addEventListener('click', async (e) => {
            await navigator.clipboard.writeText("<%= token %>");
            location.href = "/admin?msg=" + encodeURIComponent("Copied token to clipboard");
        });
        <%_ } _%>

        setTimeout(() => {
            history.pushState({}, document.title, "/admin");
        }, 5000);

        <%_ if (hasScope(user, 'pastes')) { _%>
        $('#paste-text').addEventListener('keydown', function(e) {
            if (e.key == 'Tab') {
                e.preventDefault();
                let start = this.selectionStart;
                let end = this.selectionEnd;

                this.value = this.value.substring(0, start) + "\t" + this.value.substring(end);
                this.selectionStart = this.selectionEnd = start + 1;
            }
            $("#paste-text").style.height = "1px";
            $("#paste-text").style.height = (25 + $("#paste-text").scrollHeight)+"px";
        });
        <%_ } _%>
    </script>
</body>
</html>