<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= paste.title ? `${paste.title} (${paste.id})` : paste.id %></title>
    <meta name="description" content="<%= site %>">
    <link rel="icon" type="image/png" href="/assets/img/logo.png">
    <link rel="favorite icon" type="image/png" href="/assets/img/logo.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
</head>

<body>
    <div class="container d-flex justify-content-center mt-5 pt-2">
        <h1><%= paste.title ? `${paste.title} (${paste.id})` : paste.id %></h1>
    </div>

    <div class="d-flex justify-content-center parent">
        <div class="content-lg paste">
            <%_ if (paste.confirm) { _%>
            <h5>This paste is set to burn on read.</h5>
            <h6>View paste?</h6>
            <br />
            <a class="btn btn-primary" href="?confirm=1">View</a>
            <%_ } else {_%>
            <pre><code><%= paste.text %></code></pre>
            <%_ if (!paste.burn) { _%>
            <br />
            <a class="btn btn-primary" href="<%= paste.id %>/d">Download</a>
            <a class="btn btn-primary" href="<%= paste.id %>/r">Raw</a>
            <%_ } _%>
            <%_ } _%>
        </div>
    </div>

    <div class="container d-flex justify-content-center mt-5 pt-2">
        <a href="/">
            <h5><i class="fas fa-arrow-left mr-2"></i>Back</h5>
        </a>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>